
/* enabling touch action for index pages */

:root
{
	touch-action: manipulation;
}

/*
	to prevent the buttons in the middle of the page in main_box from shrinking
*/

/* main > *
{
	flex: 1 1 auto;
} */

ul.header_list
{
	box-shadow: none;
}

/* .main_box li .button
{
	border: none;

	box-shadow: 1px 1px 5px -1px rgba(0, 0, 0, 0.7);
} */